/* -------- Root variables -------- */
:root {
  --black-shadow: rgba(0, 0, 0, 0.25);
}

/* -------- General styling -------- */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  /* background-color: grey; */
  background-color: grey;
}

header {
  background-color: black;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0.5em;
}

/* -------- CREATE, FILTER, SEARCH, SORT CONTAINER -------- */
#data-interaction-container {
  padding: 1em;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  column-gap: 1em;
}

/* -------- CSS GRID -------- */
#grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
  margin: auto;
  justify-self: center;
}

.grid-item {
  box-shadow: 1px 1px 8px var(--black-shadow);
  padding: 1.5em;
  background-color: white;
  transition: 0.5s;
  border-radius: 2em;
  text-align: center;
  cursor: pointer;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 black;
}

/* -------- RESPONSIVE -------- */
@media (min-width: 600px) {
  #grid-container {
    grid-template-columns: 1fr 1fr;
  }
  dialog {
    width: 50vw;
  }
}

@media (min-width: 992px) {
  #grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  dialog {
    width: 30vw;
  }
}
@media (min-width: 1200px) {
  #grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1250px) {
  #data-interaction-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  #grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* -------- BUTTONS -------- */
button {
  padding: 0.5em;
  border-radius: 1em;
  border: none;
  color: white;
  background-color: black;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 black;
}

.btn-cancel {
  padding: 0.5em;
  border-radius: 1em;
  border: none;
  color: black;
  background-color: rgb(218, 217, 217);
  width: 5em;
  justify-self: center;
}
.btn-submit {
  padding: 0.5em;
  border-radius: 1em;
  border: none;
  color: white;
  background-color: black;
  width: 5em;
  justify-self: center;
}

/* -------- FORMS ETC -------- */
select {
  border-radius: 1em;
  border: none;
  padding: 0.5em;
}

input[type="search"] {
  border-radius: 1em;
  border: none;
  padding: 0.5em;
}

.grid-item img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* -------- DIALOG -------- */
dialog {
  border: none;
  border-radius: 1em;
  padding: 1em;
}

#form-delete {
  display: grid;
  grid-template-columns: auto auto;
}

.dialog-delete-question > span {
  font-weight: lighter;
  font-style: italic;
}
